NAMESPACE=ecosystem
STAGE=development
# set the kind of runtime here, be it local, remote, or k3d
# RUNTIME_ENV=k3d
# the name of the kube context in the runtime environment
# KUBE_CONTEXT_NAME=k3d-k8s-ecosystem