global:
  networkPolicies:
    enabled: true
  ingress:
    enabled: false
    className: k8s-ecosystem-ces-service
    path: /prometheus(/|$)(.*)
    rewriteTarget: /$2
  imagePullSecrets:
    - "ces-container-registries"
authProxy:
  configPVC:
    storageClassName: null
    storage: 1Gi # Some cloud providers don't support less than 1 GiB
kube-prometheus-stack:
  grafana:
    enabled: false
  windowsMonitoring:
    enabled: false
  alertmanager:
    enabled: false
  kubeStateMetrics:
    enabled: true
  kube-state-metrics:
    image:
      registry: registry.k8s.io
      repository: kube-state-metrics/kube-state-metrics
      tag: "v2.15.0"
    resources:
      limits:
        memory: 105M
      requests:
        cpu: 15m
        memory: 105M
  nodeExporter:
    enabled: true
  prometheus-node-exporter:
    prometheus:
      monitor:
        enabled: true
        relabelings:
          - sourceLabels: [__meta_kubernetes_endpoint_node_name]
            targetLabel: node
    image:
      registry: quay.io
      repository: prometheus/node-exporter
      tag: "v1.9.1"
    resources:
      limits:
        memory: 105M
      requests:
        cpu: 15m
        memory: 105M
  nameOverride: "k8s-prometheus"
  prometheusOperator:
    enabled: true
    admissionWebhooks:
      patch:
        image:
          registry: registry.k8s.io
          repository: ingress-nginx/kube-webhook-certgen
          tag: "v1.5.4"
    image:
      registry: quay.io
      repository: prometheus-operator/prometheus-operator
      tag: "v0.82.2"
    prometheusConfigReloader:
      image:
        registry: quay.io
        repository: prometheus-operator/prometheus-config-reloader
        tag: "v0.82.2"
      resources:
        limits:
          memory: 105M
        requests:
          cpu: 15m
          memory: 105M
    resources:
      limits:
        memory: 105M
      requests:
        cpu: 15m
        memory: 105M
  prometheus:
    prometheusSpec:
      image:
        registry: quay.io
        repository: prometheus/prometheus
        tag: v3.4.1
      resources:
        limits:
          memory: 1039M
        requests:
          cpu: 50m
          memory: 1039M
      podMetadata:
        labels:
          app: k8s-prometheus
          k8s-prometheus: prometheus-server
          k8s.cloudogu.com/component.name: k8s-prometheus
      storageSpec:
        volumeClaimTemplate:
          spec:
            resources:
              requests:
                # Updating this value at runtime has no effect because kubernetes does not support volume expansion via statefulsets.
                # See https://prometheus-operator.dev/docs/platform/storage/#resizing-volumes for increasing the volume.
                storage: 10Gi
      retention: 10d
      volumes:
        - name: ces-config
          persistentVolumeClaim:
            claimName: k8s-prometheus-config
        - name: ces-presets
          secret:
            secretName: k8s-prometheus-auth-presets
            optional: true
      containers:
        - name: auth
          image: cloudogu/k8s-prometheus-auth:75.3.5-3
          imagePullPolicy: Always
          env:
            - name: LOG_LEVEL
              value: "INFO"
            - name: PROMETHEUS_URL
              value: "http://localhost:9090"
            - name: WEB_CONFIG_FILE
              value: "/config/web.config.yaml"
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: k8s-prometheus-service-account-api
                  key: apiKey
            - name: WEB_PRESETS_FILE
              value: "/presets/web.presets.yaml"
          ports:
            - name: auth-proxy
              containerPort: 8086
            - name: sa-provider
              containerPort: 8087
          volumeMounts:
            - name: ces-config
              mountPath: /config
            - name: ces-presets
              readOnly: true
              mountPath: /presets
          resources:
            limits:
              memory: 105M
            requests:
              cpu: 15m
              memory: 105M
