apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: ces
    app.kubernetes.io/name: k8s-prometheus
  name: k8s-prometheus-config
spec:
  {{- if .Values.authProxy.configPVC.storageClassName }}
  storageClassName: {{ .Values.authProxy.configPVC.storageClassName }}
  {{- end }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.authProxy.configPVC.storage }}
